*{
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #121212;
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin-left: 62px;
  border: 1px solid #1b1b1b;
  height: 100vh;
}

h1 {
  color: #4CAF50;
  text-align: center;
  margin-top: 20px;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 20px;
}

a {
  font-size: 3.5rem;
  color: #2196F3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.side-bar {


  background-color: #1e1e1e;
  position: fixed;
  top: 8px;
  left: 8px;
  padding: 10px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.5);
  list-style: none;
  border-radius: 8px;
  

  li a{
    display: flex;
    text-align: center;
    background-color: #2196F3;
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: 4px;
    &:hover {
    border: 1px solid #cccccc;
    }

  img{
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;

    &:hover {
      filter: brightness(1.2);
  }
  }
}
}

.news-list {
  list-style: none;
  padding: 0;
  margin: 20px;
  li {
    margin-bottom: 10px;
    a {
      color: #2196F3;
      font-size: 1.2rem;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  li {
    margin-bottom: 10px;
    a {
      color: #2196F3;
      font-size: 1.2rem;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

  }
}

